<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:annotation package="com.storage.server.dubboService" />

    <dubbo:application  name="rest-consumer" owner="pikav" organization="dubbo"/>

    <dubbo:registry id="dubboRegistry" address="${dubbo.registry.address}"/>

    <!--支持两种协议的调用：rpc-dubbo协议；http协议-rest api-url调用-->
    <dubbo:protocol name="rest" server="tomcat" port="1818" contextpath="storage"  accepts="500"/>
    <dubbo:protocol name="dubbo" port="9919" threads="200"/>

    <bean id="testService" class="com.storage.server.dubboService.DubboTestService"/>

    <bean id="dubboCommodityService" class="com.storage.server.dubboService.DubboCommodityService"/>

    <dubbo:service version="1.0.0" interface="com.storage.api.service.IDubboTestService" ref="testService"/>

    <dubbo:service version="1.0.0" interface="com.storage.api.service.IDubboCommodityService" ref="dubboCommodityService"/>

</beans>